<h3 class="page-header">Oma tili</h3>
<div class="row">
	<div class="col-sm-6">
		<div class="well">
			<h4>Omat tiedot <a class="align-right" href="">Muokkaa</a></h4>
			<div class="panel panel-default">
				<div class="panel-body">Käyttäjän nimi</div>
				<div class="panel-body">Sähköposti</div>
				<div class="panel-body">Puhelinnumero</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h4>Omat varaukset <a class="align-right" href="">Muokkaa</a></h4>
			<div class="panel panel-default">
				<div class="panel-heading">Tulevat varaukset</div>
				<div class="panel-body">

				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Menneet varaukset</div>
				<div class="panel-body">
					Varaus 1 <br>
					Varaus 2
				</div>
			</div>
	</div>
</div>
</div>
