<h3 class="page-header">Varaa tila</h3>

<div class="row">
	<div class="col-sm-3">
		<div class="well">
			<form>
			  <div class="form-group">
			    <label for="sel1">Valitse varattava tila:</label>
			    <select class="form-control" id="sel1" ng-model="selectedRoom"
					ngOptions="room as room.name in roomList track by room.name">
			      <option>Saunatila</option>
			    </select>
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-9">
	</div>
</div>


<div class="row">

	<div class="col-sm-3">
		<div class="well">
			<h4>Päivämäärä</h4>
			<input type="date" ng-model="currentDate" id="get-reservations-input"></input>
			<br><br>
			<button class="btn btn-info" id="get-reservations">Hae varaukset</button>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="well">
			<h4>Valittu päivä</h4>
			<ul class="list-group" id="reslist"></ul>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="well">
			<h4>Tee varaus</h4>
			<form id="new-reservation">
				<div class="form-group">
					<label for="time_start">Alkuaika:</label>
					<input type="datetime-local" class="form-control" name="time_start" id="time_start"
					ng-model="startTime">
				</div>
				<div class="form-group">
					<label for="time_end">Loppuaika:</label>
					<input type="datetime-local" class="form-control" name="time_end" id="time_end"
					ng-model="endTime">
				</div>
				<button type="button" class="btn btn-info" ng-click="makeReservation()">Varaa</button>
			</form>
		</div>
	</div>

</div>
