<h3 class="page-header">Varaukset</h3>

<div class="row">
	<div class="col-sm-3">
		<div class="well">
			<form>
			  <div class="form-group">
			    <label for="sel1">Valitse varattava tila:</label>
			    <select class="form-control" id="sel1" ng-model="selectedRoom" ng-init="initRooms()"
					ng-options="room as room.name for room in roomList track by room.name">
			    </select>
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-9">
	</div>
</div>


<div class="row">

	<div class="col-sm-3">
		<div class="well">
			<label>Päivämäärä</label>
			<input type="date" class="form-control" ng-model="currentDate" id="get-reservations-input"></input>
			<br><br>
			<button class="btn btn-info" ng-click="findReservationsByRoom()">Hae varaukset</button>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="well">
			<h4>Valittu päivä: {{currentDate.toLocaleDateString()}}</h4>
			<table class="table table-striped">
    <thead>
      <tr>
        <th style="width:35%;">Aika</th>
        <th style="width:65%;">Varaaja</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reservation in reservationList">
        <td>{{reservation.time_start}} - {{reservation.time_end}}</td>
        <td>{{reservation.user.name}}</td>
      </tr>
    </tbody>
  </table>
		</div>
	</div>

	<div ng-show="isLogged()" class="col-sm-3">
		<div class="well">
			<h4>Tee varaus</h4>
			<form id="new-reservation">
				<div class="form-group">
					<label for="time_start">Alkuaika:</label>
					<input type="datetime-local" class="form-control" name="time_start" id="time_start"
					ng-model="startTime">
				</div>
				<div class="form-group">
					<label for="time_end">Loppuaika:</label>
					<input type="datetime-local" class="form-control" name="time_end" id="time_end"
					ng-model="endTime">
				</div>
				<button type="button" class="btn btn-info" ng-click="makeReservation()">Varaa</button>
			</form>
		</div>
	</div>
	
</div>
