<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TiVa-tilavarausjärjestelmä</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="../public/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(document).ready(function(){
      $("#datepicker").datepicker();
      $('[data-toggle="popover"]').popover({
        title: "<h4>Kirjautumistiedot</h4>",
        content: "<form>Sähköposti <br> <input type='email'></input> <br> Salasana <br> <input type='password'></input> <br><br> <input type='submit' class='btn btn-default' value='Kirjaudu'></input></form>", html: true});
    });
    </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<div class="container-fluid" id="main-title-div">
			<h1 id="main-title">TiVa</h1>
      <!--Login popover -->
      <a id="login" href="#" data-toggle="popover" data-placement="bottom" >
        Kirjaudu sisään <span class="glyphicon glyphicon-triangle-bottom"></span></a>
		</div>

		<div class="container-fluid" id="second-title-div">
			<h2 id="second-title">Tilanvarausjärjestelmä</h2>
		</div>

		<div class="container-fluid" id="content">
      <h3>Varaa tila</h3>
      <form>
        <div class="form-group">
          <label for="room">Tila:</label>
          <input type="text" class="form-control" id="room" autofocus>
        </div>
        <div class="form-group">
          <label for="time_start">Alkuaika:</label>
          <input type="datetime-local" class="form-control" id="time_start">
        </div>
        <div class="form-group">
          <label for="time_end">Loppuaika:</label>
          <input type="datetime-local" class="form-control" id="time_end">
        </div>
        <button type="submit" class="btn btn-default">Varaa</button>
      </form>

      <h3 class="page-header">Lista varauksista</h3>
      <div class="row">
        <div class="col-sm-3">
          <h4>Päivämäärä</h4>
          <input type="text" id="datepicker" placeholder="Valitse pvm"></input>
        </div>
        <div class="col-sm-9">
          <h5>Valittu pvm</h5>
          <ul class="list-group">
            <li class="list-group-item">Eka varaus</li>
            <li class="list-group-item">Toinen varaus</li>
            <li class="list-group-item">Kolmas varaus</li>
          </ul>
        </div>
      </div>
		</div>

		<div class="container-fluid" id="footer">

		</div>
    </body>
</html>
